<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BalloonRss.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BalloonRss.Properties.Settings>
            <setting name="baseRecurrence" serializeAs="String">
                <value>90000</value>
            </setting>
            <setting name="retrieveIntervall" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="channelConfigFileName" serializeAs="String">
                <value>channelConfig.xml</value>
            </setting>
            <setting name="balloonTimespan" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="historyDepth" serializeAs="String">
                <value>10</value>
            </setting>
        </BalloonRss.Properties.Settings>
    </userSettings>
</configuration>